// font-family: 'Alfa Slab One', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Romanesco', cursive;
// font-family: 'Timmana', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:wght@100;300;400&family=Roboto:wght@500;700&family=Romanesco&family=Timmana&display=swap');


// variables

$primary: #375a7f;
$body-bg: #222;
$body-color: #fff;
$font-family-sans-serif: 'Lato', sans-serif;

// reset
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

@media (min-width: 992px) {
    .px-lg-6 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
    }
}

body {
    background: linear-gradient(95deg, #020910 24%, #0f1820 77%);
    background: linear-gradient(95deg, #020910 24%, #0b1117 77%);
}

.scrollBar:hover::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 9px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(94, 102, 115);
    border-radius: 3px;
    height: 90px;
}


//toastify 

// .toastify {
//     color: #fff;
//     box-shadow: 0 3px 6px -1px rgb(0 0 0 / 12%), 0 0px 8px 0px rgb(252 252 252 / 30%);
//     position: fixed;
//     opacity: 0;
//     transition: all .4s cubic-bezier(.215,.61,.355,1);
//     border-radius: 8px;
//     cursor: pointer;
//     text-decoration: none;
//     max-width: calc(50% - 20px);
//     z-index: 2147483647;
// }



