
.coin-logo {
    width: 10%;
}

td img {
    width: 1.5rem;
}

tbody tr  {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #645b5b;
} 

tr.no-matches-row {
    font-size: calc(0.5rem + 2vw);
    text-align: center;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}


.current_price::before, .ath::before {
    content: "$";
}
.ath_change_percentage::after {
    content: "%"
}

.displayNone {
    display: none!important;
}




/* calculator */


.calculator {
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-columns: repeat(2, auto); */
    grid-template-rows: repeat(2,auto);
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1rem;

    .page-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .calculator-header {
        background-color: #161a1e;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(132, 142, 156);
        height: 33px;
    }
    .calculatorContainer {
        padding: 0.2rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        width: fit-content;
        border: 1px solid #323643;
        /* border-radius: 1rem; */
        background-color: rgb(30 32 38);
        color: #dee2e9;
}
    }
    .selectedCoin, .usdTitle {
        font-size: 1.9rem;
        font-weight: 300;
    }
    




.selectedCoin {
    grid-column: 1;
    grid-row: 1;
}
.coinLogo {
    grid-column: 1;
    grid-row: 2;
}
.coinInput {

    grid-column: 1;
    grid-row: 3;

}
.usdTitle {
    grid-column: 2;
    grid-row: 1;
}
.calculator-svg {
    grid-column: 2;
    grid-row: 2;
}
.result {
    grid-column: 2;
    grid-row: 3;
}

.calculator img, .calculator svg {
    width: 4rem;
}


.cryptocurrency, .usd {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.calculator .arrowSvg {
    fill: rgb(255, 255, 255);
    transform: rotate(180deg);
    transition: transform 0.3s;
    cursor: pointer;
    width: 2.5rem;
}

.arrowSvg:hover {
    transform: rotate(180deg) scale(1.1);
}

input.coinInput {
    text-align: center;
    font-weight: 500;
    color: #faf8f8;
    width: 40%;
    background: #2b2f36e6;
    background: #2a2d35;
    border: solid 1px #4a4e58;
    border-radius: 3px;
}
p.result {
    font-size: 1.2rem;
    font-weight: 500;
}


//coin-info 

.coin-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .coin-info-wrapper {
        width: 100%;
    }
    .coin-info-header {
        background-color: #161a1e;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(132, 142, 156);
        height: 33px;
    }
    .coin-info-body {

        width: 100%;
        min-height: 5rem;
        background-color: #1e2026;
        border: 1px solid #323643;
        padding: 0.5rem 2rem;
        font-weight: 300;
        font-size: 1.2rem;
        text-align: justify;
        color: #cfc6c6;
        a {
            color: #82a8cf;
        }
    }

}

// reordenar
.navbar-brand {
    width: 25%;
}
h1 {
    text-align: center;
}

select#sort {
    padding: 0 0 0 7px;
    width: 62%;
}
select#sort, #filter {
    word-wrap: normal;
    background: #5c5656;
    border-radius: 5px;
    font-weight: 600;
    color: #828989;
    color: #c8c8c8bd;
    border: none;
    height: 30px;
    &:focus-visible {
        outline: #817373 auto 1px!important;
        outline-color: black!important;
        outline-style: none!important;
        outline-width: 17px!important;
    }
}

section.coins-table {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.table-tools {
    display: flex;
    gap: calc(3.1vw - 0.2rem);
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.page-header h1 {
    margin: 0;
}

label[for=sort] {
    color: rgba(171, 168, 170, 0.831372549);
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
}

.sort-container {
    display: flex;
    gap: 5px;
    width: 16.3rem;
    align-items: center;
}

select#sort {
    padding: 0 0 0 7px;
    width: 80%;
}


@media only screen and (min-width: 700px){

    .dashboard-table {
        width: 90%;
    }
    .coin-info {
        .coin-info-wrapper {
            width: 90%;
        }
    }


}


