.road-svg {
    width: 19rem;
    margin-top: 3rem;
}

.login-container {
    padding-top: 3.5rem;
    width: 90%;
    margin: auto;
}

.light-background {
    background: linear-gradient(45deg, #abcbcf, #e5edf6);
    padding: calc(2.5rem - 20px);
    border-radius: 8px;
    border: 20px solid #375a7f96;
}

.form-container {
    background-color: #282936;
    border-radius: 1rem;
}

#logIn-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#logIn-form a {
   
    color: #7bb0fec9;
  
}

.submit-box button {
    align-items: center;
    background-image: linear-gradient(144deg, #65a0de, #375a7f 50%, #0c4989);
    border: 0;
    border-radius: 8px;
    box-shadow: rgb(1 2 3 / 39%) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}
   
.submit-box button:active,
.submit-box button:hover {
    outline: 0;
   }
   
.submit-box button span {
    background-color: rgb(55 90 127 / 50%);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
   
.submit-box button:hover span {
    background-color: rgb(5 6 45 / 30%);
}
   
.submit-box button:active {
    transform: scale(0.9);
}


/* ajdusts */
.close-btn-adjust {
    top:-3px!important;
}
.btn-close:focus {
    box-shadow: none!important;
}

// images

#logoSvg {
    width:10rem 
}

.btc-wallet-svg {
    width: 74%;
    filter: drop-shadow(2px 4px 6px black);
}

.form-h2 {
    font-family: 'Timmana', sans-serif;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 0 1px black;
    margin: 0;
    position: relative;
    top: 2.2rem;
    
    
}


// media queries


@media only screen and (min-width: 450px)  {

    .road-svg {
        width: 19rem;
        margin-top: 3rem;
    }

    .login-container {
        padding-top: 1.5rem;
        width: 85%;

        margin: auto;
    }

    .light-background {
        background: linear-gradient(45deg, #abcbcf, #e5edf6);
        padding: calc(2.5rem - 20px);
        border-radius: 8px;
        border: 20px solid #375a7f96;
    }

    .form-container {
        background-color: #282936;
        border-radius: 1rem;
    }

    #logIn-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #logIn-form a {
    
        color: #7bb0fec9;
    
    }

    .submit-box button {
        align-items: center;
        background-image: linear-gradient(144deg, #65a0de, #375a7f 50%, #0c4989);
        border: 0;
        border-radius: 8px;
        box-shadow: rgb(1 2 3 / 39%) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .submit-box button:active,
    .submit-box button:hover {
        outline: 0;
    }
    
    .submit-box button span {
        background-color: rgb(55 90 127 / 50%);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }
    
    .submit-box button:hover span {
        background-color: rgb(5 6 45 / 30%);
    }
    
    .submit-box button:active {
        transform: scale(0.9);
    }


    /* ajdusts */
    .close-btn-adjust {
        top:-3px!important;
    }
    .btn-close:focus {
        box-shadow: none!important;
    }

    // images

    #logoSvg {
        width:10rem 
    }

    .btc-wallet-svg {
        width: 74%;
        filter: drop-shadow(2px 4px 6px black);
    }

    .form-h2 {
        font-family: 'Timmana', sans-serif;
        font-size: 4rem;
        text-align: center;
        text-shadow: 0 0 0 1px black;
        margin: 0;
        position: relative;
        top: 2.2rem;
        
        
    }

}
// font-family: 'Alfa Slab One', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Romanesco', cursive;
// font-family: 'Timmana', sans-serif;


@media only screen and (min-width: 850px)  {
    .login-container {
        padding-top: 1.5rem;
        width: 70%;
    }

}