.order-forms {
    
    height: 100%;
    margin: 0px;
    min-width: 0px;
    grid-area: orderform / orderform / orderform / orderform;
    background-color: rgb(30, 32, 38);
}

.css-reset {
    
    margin: 0;
    min-width: 0;
    height: 100%;
}

.flex-30  {
    margin: 0px;
    min-width: 0px;
    display: flex;
    height: 30px;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(132, 142, 156);
    text-align: center;
    background-color: rgb(22, 26, 30);
    border-top: 2px solid transparent;
    border-bottom: 1px solid rgb(43, 49, 58);
}

.flex-30  .item {
    width: 100%;
    cursor: pointer;
}

.flex-30  {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(132, 142, 156);
    text-align: center;
    background-color: rgb(22, 26, 30);
    border-top: 2px solid transparent;
    border-bottom: 1px solid rgb(43, 49, 58);
}

.flex-30  .item .bottom {
    padding: 0px 6px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.flex-30  .item .bottom .text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    text-align: left;
    font-weight: 500;
}

.flex-30  {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(132, 142, 156);
    text-align: center;
    background-color: rgb(22, 26, 30);
    border-top: 2px solid transparent;
    border-bottom: 1px solid rgb(43, 49, 58);
}

@media screen and (min-width: 767px) {
    .css-h598e2 {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background: transparent;
        transition: none 0s ease 0s;
        transform: none;
    }
}

.form-wrapper {
    margin: 0px;
    min-width: 0px;
    padding: 8px 16px 13px;
    height: calc(100% - 30px);
}


.proInnerFormWrap {
    display: flex;
    height: 100%;
}
.proInnerForm {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: calc(2px + 1vh);
}

#autoFormBUY, #autoFormSELL {
    height: calc(100% - 3px - 16px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.order-inputs-wrapper {
    height: calc(65%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 7px;
}

.proInnerFormWrap > div:first-child {
    padding-right: 15px;
}
.proInnerFormWrap > div:last-child {
    padding-left: 15px;
}

span#avblUSD, span#avblCoin {
    overflow: hidden;
}

 .proInnerFormWrap .proInnerForm {
    flex: 1 1 0%;
}

 .proInnerFormWrap .proInnerForm .balance {
    margin-bottom: 9px;
    margin: 0px;
    min-width: 0px;
    padding-top: 0px;
    display: flex;
    font-size: 13px;
    width: 100%;
}

.avbl {
    
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    font-size: 12px;
    height: 16px;
}

.css-xc58v6 {
    
    margin: 0px;
    min-width: 0px;
    flex: 1 1 0%;
    text-align: right;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    font-size: 12px;
    height: 16px;
}

.order-form-input {
    /* margin: 5px 0px 7px; */
    min-width: 0px;
    width: 100%;
    border-radius: 4px;
    // height: calc(20px + 2.75vh);
    height: calc(18px + 1.5vh + 0.9vw);
    line-height: 30px;
    background-color: rgba(43, 47, 54, 0.9);
}


.css-17sjuxz {
    
    margin: 0px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1;
    /* border: 1px solid rgba(43, 47, 54, 0.8); */
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
}

.css-17sjuxz .bn-input-prefix {
    flex-shrink: 0;
    margin-left: 8px;
    min-width: 40px;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(183, 189, 198);
}

.css-17sjuxz input {
    color: rgb(234, 236, 239);
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
.orderForm-input {
    
    
    padding: 0px;
    outline: none;
    background-color: inherit;
    opacity: 1;
    border: none !important;
}

/* Chrome, Safari, Edge, Opera */
input.orderForm-input::-webkit-outer-spin-button,
input.orderForm-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.orderForm-input[type=number] {
  -moz-appearance: textfield;
}
.css-10wa3hs {
    margin: 0px;
    min-width: 0px;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(132, 142, 156);
    display: inline-block;
    text-align: right;
}
.css-17sjuxz input {
    color: rgb(234, 236, 239);
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
.orderForm-input {
    
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: none;
    background-color: inherit;
    opacity: 1;

}

.css-17sjuxz .bn-input-suffix {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(132, 142, 156);
}

.orderForm-input-labels {
    
    margin: 0px;
    min-width: 0px;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(234, 236, 239);
    display: inline-block;
    text-align: right;
}

.css-17sjuxz .bn-input-suffix {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    color: rgb(132, 142, 156);
}

.order-form-btn {
    // margin: 8px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    font-size: 0.87rem;
    font-size: calc(0.8rem + 0.2vw);
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 4px 12px;
    line-height: 20px;
    min-width: 52px;
    word-break: keep-all;
    min-height: 21px;
    // background-color: rgb(12 150 100);
    width: 100%;
    // height: 34px;
    border: none;
    border-radius: 4px;
    color: white;
    // min-height: 35px;
    height: calc(22px + 2.75vh);
    height: calc(18px + 1.9vh + 0.9vw);
}

#orderformBuyBtn {
    background-color: rgb(12 150 100);

}
#orderformSellBtn {
    background-color: rgb(179 55 71)
}

element.style {
    cursor: pointer;
}
@media only screen and (min-width: 1000px)  {
    @media only screen and (min-height: 700px)  {
        .order-form-input {
        
            height: calc(18px + 2.1vh + 0.9vw);
        }
        .order-form-btn {
            height: calc(18px + 2.5vh + 0.8vw);
        }
    }
}










