.dashboard-table {


.table {
  border-color: #4d4d4d;
}

.table > :not(:first-child) {
  border-top: 2px #e0e3e6;
  border-top-style: groove;
}

th:first-child, td:first-child {
  width: 22%;

}

thead tr {
  text-transform: uppercase;
  font-family: roboto;
  font-size: 0.8rem;
  color: #e0e3e6;
  font-weight: 200!important;
}

thead th {
  font-weight: 100!important;
}

tbody {
  font-family: "Lato";
  color: #e9ebee;
  font-size: 0.9rem;
}

td img {
    margin-right: 1.5rem;
}

td.current_price {
  width: 11%;
}

th:not(:first-child), td:not(:first-child)  {
  text-align: right;
}



  @media screen and (max-width:700px) {
   .intro {
    max-width: 1280px;
    margin: 1em auto;
  }
  .table-scroll {
    position: relative;
    width:100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    // height: 350px;
  }
  .table-scroll table {
    width: 100%;
    min-width: 1280px;
    margin: auto;

  }

  .table-scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  /* safari and ios need the tfoot itself to be position:sticky also */
  .table-scroll tfoot,
  .table-scroll tfoot th,
  .table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index:4;
  }
  
th:first-child, td:first-child {
    width: 17%;
    max-width: min-content;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #020910;
  }

  .name {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
  }
  tr.no-matches-row {
    text-align: left;
    position: fixed;
  }

  tbody tr:hover {
    filter: none;
    background-color: unset;

  } 

}

}

//firefox
@-moz-document url-prefix() {
  .ts-coins-list .coins-list table {
    height: calc(100% - 60px);
    display: block;
  }
  @media only screen and (min-width: 665px){
    .ts-coins-list .coins-list table {
      height: calc(100% - 54px);
    }
  }
  
  .ts-coins-list thead {
    display: flex;
  }
  td.cl-price-td {
    overflow: auto;
    overflow-x: auto;
  }

}


  
  