// commons
.ts-box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161a1e;
    border-top: 2px solid transparent;
    border-bottom: 1px solid rgb(43, 49, 58);
    height: 30px;

}

.ts-title {
    font-size: 14px;
    color: rgb(132, 142, 156);
    text-align: center;
}
.ts-container > * {
    background-color: #1e2026;
    max-width: calc(100% - 1.4rem);
}

@import './tsCoinsList';
@import './orderForm';
@import './tsWallet';
@import './tsHistory';
@import './modal';


// small devices

.ts-container {
    display: grid;
    grid-template-areas:
        "coins-list"
        "chart"
        "order"
        "wallet"
        "history";
    grid-template-columns: 1fr;
    grid-template-rows: 50vh repeat(4, auto);
    grid-gap: 1rem;
    padding-top: 1rem;
    tr div {
        text-align: left;
    }
}

.ts-chart {
    grid-area: chart;

}
.ts-coins-list {
    grid-area: coins-list;

}
.ts-order {
    grid-area: order;
    max-width: calc(100vw - 1.4rem);

}

.ts-wallet {
    grid-area: wallet;
    min-height: 6rem;
}
.ts-history {
    grid-area: history;
    min-height: 6rem;
}

@media only screen and (min-width: 350px)  {
    .ts-container {
        padding: 1.5rem 0.7rem;
    }
   
}

@media only screen and (min-width: 600px)  {
    .ts-container > * {
        max-width: unset;
    }
    .ts-container {
        grid-template-areas: unset;
        grid-gap: 1rem;
        padding-top: 5rem;
        display: grid;
        /* height: 100vh; */
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 6fr 3fr 3fr;
        padding: 1rem;
    }
    // .ts-header {
    //     grid-column: 1/4;
    //     grid-row: 1/2;
    // }

    .ts-chart {
        grid-column: 4/8;
        grid-row: 1/2;
    }
    .ts-coins-list {
        grid-column: 1/4;
        grid-row: 1/3;
        .coins-list table {
            height: 92%;
        }
    }
    .ts-order {
        grid-column: 4/8;
        grid-row: 2/3;
    }

    .ts-wallet {
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .ts-history {
        grid-row: 3/4;
        grid-column: 4/8;
    }
    @media only screen and (min-height: 680px)  {
        .ts-container {
    
            height: calc(100vh - 92px);
        
            }
    
    }

}
   


@media only screen and (min-width: 950px)  {
    .ts-box-header {
        height: 30px;
    }

    .ts-container {
        grid-template-areas: unset;
        grid-gap: 1rem;
        padding-top: 5rem;
        display: grid;
        height: calc(100vh - 68px);
        grid-template-columns: repeat(10, 1fr) 3rem;
        grid-template-rows: 6fr 3fr;
        padding: 1rem;
    }
    .ts-header {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .ts-chart {
        grid-column: 4/9;
        grid-row: 1/2;
    }
    .ts-coins-list {
        grid-column: 1/4;
        grid-row: 1/3;
    }
    .ts-order {
        grid-column: 4/9;
        grid-row: 2/3;
    }

    .ts-wallet {
        grid-row: 1/2;
        grid-column: 9/12;
    }
    .ts-history {
        grid-row: 2/3;
        grid-column: 9/12;
    }
}

@media only screen and (min-width: 992px)  {

    .ts-container {

    height: calc(100vh);

    }
}


