.ts-container {
    th {
        color: rgb(132, 142, 156);
        font-size: 12px;
        text-transform: capitalize;
        text-align: center;
        width: 100%;
    }

    tr {
        display: flex;
    } 
}


.coins-list, .ts-wallet {
    height: 100%;
    background-color: #1e2026;
    // padding-bottom: 10px;
    // height: 100%;
    // overflow-y: scroll;
    // max-height: 40rem;
    table {
        height: 88%;
    }
    table, thead, tr {
        width: 98%;
    }
    tr {
        display: flex;
    } 
    th {
        color: rgb(132, 142, 156);
        font-size: 12px;
        text-transform: capitalize;
        text-align: center;
        width: 100%;
    }
    .cl-coin-td {
        display: flex;
        gap: 0px;
        align-items: center;
        justify-content: flex-start;
    }
    td {
        width: 100%;
        text-align: center;
        font-size: 13px;
        color: #848a8f;
        img {
        margin: 0 8px;
        width: 16px;
        height: 16px;
        }
    }
    tbody {
        height: 100%;

        display: block;
        overflow-y: scroll;
        max-height: 100%;
        overflow-x: hidden;
  
        tr {
        background-color: #1b2b3c75;
        margin: 4px auto;
        }
    }
}

.coins-list tbody tr:hover {
    filter: brightness(1.2);
}


@media only screen and (min-width: 450px)  {
    .coins-list, .ts-wallet {
        height: 100%;
        background-color: #1e2026;
        // padding-bottom: 10px;
        // height: 100%;
        // overflow-y: scroll;
        // max-height: 40rem;
        table, thead, tr {
            width: 98%;
            margin: 0 auto;
        }
        tr {
            display: flex;
        } 
        th {
            color: rgb(132, 142, 156);
            font-size: 12px;
            text-transform: capitalize;
            text-align: center;
            width: 100%;
        }
        .cl-coin-td {
            display: flex;
            gap: 0px;
            align-items: center;
            justify-content: flex-start;
        }
        td {
            width: 100%;
            text-align: center;
            font-size: 13px;
            color: #848a8f;
            img {
            margin: 0 8px;
            width: 16px;
            height: 16px;
            }
        }
        tbody {
    
            display: block;
            overflow-y: scroll;
            // max-height: 36rem;
            overflow-x: hidden;
      
            tr {
            background-color: #1b2b3c75;
            margin: 4px auto;
            }
        }
    }
    
    .coins-list tbody tr:hover {
        filter: brightness(1.2);
    }

}


td.cl-price-td {
    text-align: left;
    /* display: block; */
    max-width: 4rem;
    overflow-x: scroll;
    transform: translate(18px, 0px);
}
td.cl-change-td {
    text-align: right;
    transform: translate(calc(-3px - 4.5vw), 0px);
}

@media only screen and (min-width: 400px)  {
    td.cl-change-td {
        transform: translate(calc(-3px - 8vw), 0px);
    }

}
@media only screen and (min-width: 600px)  {
    td.cl-price-td {

        transform: translate(22px, 0px);
    }
    td.cl-change-td {
        transform: translate(calc(5px - 2.5vw), 0px);
    }


}
@media only screen and (min-width: 950px)  {
    td.cl-change-td {
        transform: translate(calc(16px - 2.5vw), 0px);
    }

}
