.table-container {
    // overflow-x: scroll;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    /* background: red; */
    height: calc(100% - 30px);
    /*padding: 0 1.3rem; */
    padding-left: 1rem;
    table thead {
        top: 0;
        position: sticky;
        background: #1e2026;
    }
}
.ts-history {
    td {
        font-size: 13px;
        color: #767d85;
    }
    th, td {
        display: flex;
        width: unset;
    }
} 

.ts-history {
    tbody tr {
        margin-bottom: 6px;
    }

    .timeCell {
        min-width: 11rem;
    }
    .typeCell {
        min-width: 4rem;
    }
    .coinNameCell {
        min-width: 7rem;
    }
    .amountCell {
        min-width: 11rem;
    }
    .price_unitCell {
        min-width: 6rem;
    }
    .price_totalCell {
        min-width: 9rem;
    }

}
    
    


