.ts-wallet {
    table {
        // height: unset;
        overflow: scroll;
    }
    table {
        height: calc(100% - 30px);
    }
    tbody.wallet-coins {
        height: calc(100% - 33px);
        /* max-height: calc(5rem + 18vw - 6vh); */
    }
    tbody.wallet-cash {
        height: 33px;
    }
    tbody.wallet-coins {
        // max-height: calc(5rem + 18vw - 6vh);
    }


    tbody tr {
            background: #1b1d22;
        }
    th:first-child {
        padding-left: 1.5rem;
    }

    td:first-child, th:first-child {
        justify-content: flex-start;
        padding-left: 1rem;
    }
    

    td, th {
        display: flex;
        align-items: center;
        width: 50%;
        gap: 8px;
    }
    tr td img {
        filter: saturate(0);
        margin: 0;
    }
    thead tr {
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 450px)  {
    .ts-wallet {
        
   
        background-color: #1e2026;
        tbody tr {
                background: #1b1d22;
            }

        td, th {
            display: flex;
            align-items: center;

        }
        tr td img {
            filter: saturate(0);
        }
    }

}

@media only screen and (min-width: 600px)  {
    .ts-wallet {

        td div {
            max-width: 60%;
            text-align: left;
        }
        td:last-child {
            max-width: 40%;
            overflow-x: scroll;
            align-items: center;
            display: block;
            text-align: left;
        }
        table {
            height: calc(100% - 30px);
        }
        tbody.wallet-coins {
            height: calc(100% - 33px);
            /* max-height: calc(5rem + 18vw - 6vh); */
        }
        tbody.wallet-cash {
            height: 33px;
        }
    }
}


