.ts-wallet {
    

    table {
        height: unset;
    }
    tbody.wallet-coins {
        max-height: calc(5rem + 18vw - 6vh);
    }


    tbody tr {
            background: #1b1d22;
        }
    // table {
    //     width: 100%;
    //     color: #7d8389;
    // }
    // tr {
    //     display: flex
    // }
    td:first-child {
        justify-content: flex-start;
        padding-left: 1rem;
    }

    td, th {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 8px;
    }
    tr td img {
        filter: saturate(0);
        margin: 0;
    }
}

@media only screen and (min-width: 450px)  {
    .ts-wallet {
   
        background-color: #1e2026;
        tbody tr {
                background: #1b1d22;
            }
        // table {
        //     width: 100%;
        //     color: #7d8389;
        // }
        // tr {
        //     display: flex
        // }
        td, th {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        tr td img {
            filter: saturate(0);
        }
    }

}

