
.user-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(2, auto); */
    grid-template-areas:
        'account'
        'portfolio';
    /* height: calc(100vh - 93px); */
    grid-gap: 2.5rem;
    padding: 0.5rem;
}

.user-page {
    /* grid-column: 2/6; */
    /* grid-row: 1/7; */
    grid-area: account;
}
.my-portfolio {
    /* grid-column: 7/11; */
    /* grid-row: 1/7; */
    grid-area: portfolio;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}

.user-page-img {
    width: 9rem;
    background: rgb(55, 90, 127);
    clip-path: circle(40% at 50% 50%);
    filter: drop-shadow(0px 0px 1px white);
}
.user-data-card {
    display: flex;
    background-color: #434750;
    border-radius: 5px;
    /* border: 10px solid rgba(23, 57, 93, 0.7490196078); */
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    /* padding: 1rem 0; */
}
.user-header {
    color: #111317;
    color: rgb(163 173 187);
}
.user-header h2 {
    margin: 0;
}
.user-card {
    /* background: #16325175; */
    width: 42%;
    /* padding: 1rem 0px; */
    border-radius: 1rem;
    /* border: 1rem solid #375a7f; */
}

.user-card button {
    text-transform: uppercase;
    font-size: small; 
}

.user-card .btn-danger {
    color: #d7caca;
    background-color: #85182b;
    border-color: #dc354591;
    &:hover {
        color: #fff;
        background-color: #831220;
        border-color: #b02a378c;
    }
}

.edit {
    position: relative;
    color: #a1acb7;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        color: #becad6;
    }

}

.edit-img {
    @extend .edit;
    bottom: 10px;
    left: 60px;
    
}
.edit-data {
    @extend .edit;
    align-self: end;
    justify-self: end;
    left: 13%;
    bottom: 10%;

}
.user-data-card h2 {
    font-size: calc(1rem + 0.8vw);
}

#password  {
    position: relative;
    top: 6px;
}
.change-img-popup {
    position: absolute;
    bottom: 33%;
    background: black;
    filter: drop-shadow(-1px 1px 2px white);
}

.user-data-card span {
    font-size: 1.05rem;
    color: #b0b7bf;
    /* font-weight: 600; */
}

.user-img-border {
    filter: drop-shadow(0px 0px 1px white);
    background-size: cover;
    background-color: rgb(55, 90, 127);
    background-image: url(./img/user.svg);
    border-radius: 50%;
}

.user-img {
    height: 9rem;
    width: 9rem;
    clip-path: circle(47% at 50% 50%);
    background-size: cover;
    background-position: center;
}

.user-data-card ul {
    color: rgb(132, 142, 156);
    background: #1e3145;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 13%;
    margin: 0;
    position: relative;
    gap: 1rem;
}

.user-data-card ul .fa-pen-to-square {
    
        position: absolute;
        left: 90%;
    
}
.chart-container {
    width: 100%;
}

@media only screen and (min-width: 800px)  {
    .user-container {
        display: grid;
        grid-template-columns: 3rem repeat(4, 1fr) 3rem repeat(4, 1fr) 3rem;
        grid-template-rows: repeat(6, 1fr);
        height: calc(100vh - 93px);
        grid-gap: 0.5rem;
        padding: 0.5rem;
    }
    
    .user-page {
        grid-column: 2/6;
        grid-row: 1/7;
    }
    .my-portfolio {
        grid-column: 7/11;
        grid-row: 1/7;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .user-page-img {
        width: 9rem;
        background: rgb(55, 90, 127);
        clip-path: circle(40% at 50% 50%);
        filter: drop-shadow(0px 0px 1px white);
    }
    .user-data-card {
        display: flex;
        background-color: hsl(222deg 22% 33%);
        border-radius: 5px;
        /* border: 10px solid rgba(23, 57, 93, 0.7490196078); */
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1.5rem;
        /* padding: 1rem 0; */
    }
    .user-header {
        color: #111317;
        color: rgb(163 173 187);
    }
    .user-header h2 {
        margin: 0;
    }
    .user-card {
        /* background: #16325175; */
        width: 42%;
        /* padding: 1rem 0px; */
        border-radius: 1rem;
        /* border: 1rem solid #375a7f; */
    }
    
    .user-card button {
        text-transform: uppercase;
        font-size: small; 
    }
    
    .user-card .btn-danger {
        color: #d7caca;
        background-color: #85182b;
        border-color: #dc354591;
        &:hover {
            color: #fff;
            background-color: #831220;
            border-color: #b02a378c;
        }
    }
    
    .edit {
        position: relative;
        color: #a1acb7;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
            color: #becad6;
        }
    
    }
    
    .edit-img {
        @extend .edit;
        bottom: 10px;
        left: 60px;
        
    }
    .edit-data {
        @extend .edit;
        align-self: end;
        justify-self: end;
        left: 13%;
        bottom: 10%;
    
    }
    .user-data-card h2 {
        font-size: calc(1rem + 0.8vw);
    }
    
    #password  {
        position: relative;
        top: 6px;
    }
    .change-img-popup {
        position: absolute;
        bottom: 33%;
        background: black;
        filter: drop-shadow(-1px 1px 2px white);
    }
    
    .user-data-card span {
        font-size: 1.05rem;
        color: #b0b7bf;
        /* font-weight: 600; */
    }
    
    .user-img-border {
        filter: drop-shadow(0px 0px 1px white);
        background-size: cover;
        background-color: rgb(55, 90, 127);
        background-image: url(./img/user.svg);
        border-radius: 50%;
    }
    
    .user-img {
        height: 9rem;
        width: 9rem;
        clip-path: circle(47% at 50% 50%);
        background-size: cover;
        background-position: center;
    }
    
    .user-data-card ul {
        color: rgb(132, 142, 156);
        background: hsl(211deg 55% 19%);
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 24%;
        margin: 0;
        position: relative;
    }
    
    .user-data-card ul .fa-pen-to-square {
        
            position: absolute;
            left: 90%;
        
    }
    .chart-container {
        width: 80%;
    }
    
    

}



