
<div class="container pt-5">
    <section class="coins-table col-lg-11">
      <div class="page-header pt-5">           
        <h1>Dashboard</h1>
        <div class="table-tools pe-5 col-11 pe-md-0 col-md-12 justify-content-md-center">
          <div class="sort-container">
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort">
              <option value="marketCap">Market Cap</option>
              <option value="price">Price</option>
              <option value="ATH">ATH</option>
              <option value="ATHchangepercentage">ATH change percentage</option>
              <option value="circulatingSupply">Circulating Supply</option>
              <option value="name">Name</option>    
            </select>
          </div>
          <div class="find-container">
            <div class="filter-wrapper">
                <div class="input-prefix reset">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="search-svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 6a5 5 0 110 10 5 5 0 010-10zm0-3a8 8 0 017.021 11.838l3.07 3.07-1.59 1.591-1.591 1.591-3.07-3.07A8 8 0 1111 3z" fill="currentColor"></path>
                    </svg>
                </div>
                <input type="text" name="filter" autocomplete="off" id="filter" placeholder="Search by name"></div>
        </div>
          <!-- <div class="find-container">
            <label for="filter">Find:</label>
            <input type="text" name="filter" autocomplete="off" id="filter">
          </div>
        </div> -->
    </div>

        <div class="dashboard-table col-lg-12">
            <div class="bs-component table-scroll">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Coin</th>
                            <th>Current price</th>
                            <th>ATH</th>
                            <th>ATH change percentage</th>
                            <th>Circulating Supply</th>
                            <th>Market cap rank</th>
                        </tr>
                    </thead>
                    <tbody class="table-body addLoader">

                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="calculator displayNone">
      <div class="page-header pt-5 d-flex flex-column justify-content-center align-items-center gap-3">
        
        <h1>Calculator</h1>
        <img class="arrowSvg" src="./app/assets/img/goBackArrow.svg" alt="">
        <div class="calculatorContainer">
        
          <h1 class="selectedCoin"></h1>
          <img class="coinLogo" src="" alt="selected coin logo">
          <input class="coinInput" type="number" step="0.01">

          <h1 class="usdTitle">USD</h1>

          <img class="calculator-svg" src="./app/assets/img/dollar.svg" alt="dollar sign">
            
          <p class="result m-0">00</p>

        </div>
      </div>
    </section>
    <div class="coins-list">
    </div>
</div>