<div class="login-container px-lg-6">
  <div class="light-background p-0 p-sm-2">
    <div class="row justify-content-center">
    <!-- col 1 -->
      <div class="col d-flex justify-content-center align-items-center flex-column d-relative">
        <!-- Wallet svg -->
        <div class="form-container col-12 col-lg-11 px-3 px-md-5 pb-4 border border-dark border-3">
          <form id="signIn-form">
            <div class="mt-4">
              <label for="name" class="form-label">Username</label>
              <input type="text" autocomplete="off" class="form-control" name="name">
            </div>
            <div>
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email">
            </div> 
            <div>
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div> 
            <div class="mb-2">
              <label for="password-confirmation" class="form-label">Confirm password</label>
              <input type="password" class="form-control" name="password-confirmation">
            </div>      
            
            <div class="d-grid submit-box mb-2">
              <button type="submit">
                <span>Sign In</span>  
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- col 2  -->
      <div class="col d-none d-sm-flex align-items-center justify-content-center pt-lg-3 signIn-col-bg"> 
    <div class="column2-logIn text-dark"> <h1>Welcome to Snappier crypto-Tradding Simulator</h1><p>Create an account to start simulating a cryptocurrency portfolio.</p></div>
        
      </div>
    </div>
  </div>  
</div>