
<div class="user-container">
    
    <section class="user-page">
        
        
        <div class="user-data-card">
            <div class="user-header">
                <h2 class="display mt-2">My Account</h2>
            </div>
            <aside class="user-card text-center col-12 col-md-3 d-inline-flex flex-column justify-content-center align-items-center">
                <!-- <div>
                    <img src="" onerror="this.src='./app/assets/img/user.svg'" class="user-page-img">
                </div> -->
                <div class="user-img-border">
                    <div class="user-img">    
                    </div>
                </div>
                <i class="fa-solid fa-pen-to-square edit-img"></i>
                <h2></h2>
                <button class="btn btn-danger btn-sm" id="logout">Logout</button>
            </aside>
            <ul class="list-unstyled ">
                <li>
                    <p>Name: <span id="name"></span></p>
                </li>
                <li>
                    <p>Email: <span id="email"></span></p>
                </li>
                <li>
                    <p>Password: <span id="password"></span></p>
                </li>
                <i class="fa-solid fa-pen-to-square edit-data me-5 m-md-0"></i>
            </ul>

        </div>
    </section>
    <section class="my-portfolio">
        <div class="user-header">
            <h2 class="display mt-2" style="font-size: calc(1rem + 0.8vw);">My Portfolio</h2>
        </div>
        <div class="chart-container addLoader">
            <canvas id="portfolio-chart">

            </canvas>
        </div>

    </section>
</div>

