
<div class="user-container">
    <div class="user-header">
    <h1 class="display mt-2">My Account</h1>
</div>
<section class="user-page d-flex flex-column flex-md-row gap-5 pe-md-5 justify-content-center align-items-center">
    <aside class="user-card text-center col-12 col-md-3 d-inline-flex flex-column justify-content-center align-items-center">
        <!-- <div>
            <img src="" onerror="this.src='./app/assets/img/user.svg'" class="user-page-img">
        </div> -->
        <div class="user-img-border">
            <div class="user-img">    
            </div>
         </div>
        <i class="fa-solid fa-pen-to-square edit-img"></i>
        <h2></h2>
        <button class="btn btn-danger btn-sm" id="logout">Logout</button>
    </aside>
    <div class="user-data-card col-11 col-md-5 col-lg-4 d-inline-flex bg-primary pt-4 justify-content-center">
        <ul class="list-unstyled m-0 d-flex flex-column text-nowrap gap-3">
            <li>
                <h2>Name: <span id="name"></span></h2>
            </li>
            <li>
                <h2>Email: <span id="email"></span></h2>
            </li>
            <li>
                <h2>Password: <span id="password"></span></h2>
            </li>
            <i class="fa-solid fa-pen-to-square edit-data me-5 m-md-0"></i>
        </ul>

    </div>
</section>
</div>

